<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">

    <title>Erlang Performance Lab</title>
    <!-- generates list of plugins in prodution build -->
    <!-- <% for(var i=0; i < htmlWebpackPlugin.options.plugins.length; i++) {%>
         <script src="<%= htmlWebpackPlugin.options.plugins[i].script %>"></script>
         <link src="<%= htmlWebpackPlugin.options.plugins[i].style %>">
         <% } %> -->
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
