{erl_opts, [no_debug_info]}.

{deps, [{getopt, ".*",
         {git, "git://github.com/jcomellas/getopt.git", "master"}},
        {cowboy, ".*",
         {git, "git://github.com/ninenines/cowboy.git", "0.8.5"}},
        {ej, ".*",
         {git, "git://github.com/erlanglab/ej.git", "master"}},
        {epl_3d, ".*",
         {git, "git://github.com/erlanglab/epl_3d.git", "master"}}
       ]
}.
