{erl_opts, [warnings_as_errors, no_debug_info]}.
{require_otp_vsn, "R1[56]"}.

{deps, [{getopt, ".*",
         {git, "git://github.com/jcomellas/getopt.git", "master"}},
        {cowboy, ".*",
	 {git, "git://github.com/extend/cowboy.git", "master"}},
	{ej, ".*",
	 {git, "git@bitbucket.org:erlanglab/ej.git", "master"}}
       ]
}.
