{erl_opts, [no_debug_info]}.

{deps, [{getopt, ".*",
         {git, "git://github.com/jcomellas/getopt.git", "master"}},
        {cowboy, ".*",
         {git, "git://github.com/ninenines/cowboy.git", "0.8.5"}},
        {jsone, ".*",
         {git, "git://github.com/erlanglab/jsone.git", "master"}}
       ]
}.
