.Index {
  height: 100%;
  color: #9da5b4;
}

.Index-navigation {
  background-color: #21252b;
  height: 42px;
  width: 100%;
  border-bottom: 1px solid #21252b !important;
}

.Index-navigation a {
  color: #7d8490;
  border-left: 2px solid transparent !important;
}

.Index-navigation a:hover {
  color: #7d8490;
  background-color: transparent !important;
  border-color: transparent !important;
}

.Index-active a {
  background-color: #282c34 !important;
  border-left: 2px solid #8FBF47 !important;
  border-bottom-color: #282c34 !important;
  border-top-color: #282c34 !important;
  border-right-color: #282c34 !important;
  color: #a6aebb !important;
}

.Index-active a:hover {
  background-color: #282c34 !important;
  border-left: 2px solid #8FBF47 !important;
  border-bottom-color: #282c34 !important;
  border-top-color: #282c34 !important;
  border-right-color: #282c34 !important;
  color: #a6aebb !important;
}

.Index-grid {
  background-color: #282c34;
  overflow: scroll;
  height: calc(100% - 42px);
}
