.Navigation {
  background-color: #333;
  height: 100%;
  width: 60px;
  float: left;
}

.Navigation .item {
  padding-top: 15px;
  height: 60px;
  text-align: center;
}

.Navigation i {
  color: #bebebe;
}

.Navigation .active i {
  color: white;
}
